<div class="chat">
  <div class="chat__header">
    <div class="chat__logo">
      <img src="chat-icon.ico" alt="" width="50px" />
      <h1>My chat</h1>
    </div>
    <div class="user">
      <p>{{ username }}</p>
    </div>
    <p class="chat__logout" (click)="logout()">Logout</p>
  </div>
  <div class="chat__content">
    <div class="chat__message">
      <div class="chat__message-username pr">dmitriy0209</div>
      <div class="chat__message-info info">
        <div class="info__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, laudantium, blanditiis voluptate nisi sapiente odio
          quam nemo praesentium aliquid maxime minima accusamus ut pariatur
          distinctio sequi optio autem dolores veritatis? Perspiciatis dolor
        </div>
        <div class="info__time">22:02</div>
      </div>
    </div>

    <div class="chat__message">
      <div class="chat__message-username pr">dmitriy0209</div>
      <div class="chat__message-info info">
        <div class="info__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, laudantium, blanditiis voluptate nisi sapiente odio
          quam nemo praesentium aliquid maxime minima accusamus ut pariatur
          distinctio sequi optio autem dolores veritatis? Perspiciatis dolor
        </div>
        <div class="info__time">22:02</div>
      </div>
    </div>
    <div class="chat__message">
      <div class="chat__message-username pr">dmitriy0209</div>
      <div class="chat__message-info info">
        <div class="info__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, laudantium, blanditiis voluptate nisi sapiente odio
          quam nemo praesentium aliquid maxime minima accusamus ut pariatur
          distinctio sequi optio autem dolores veritatis? Perspiciatis dolor
        </div>
        <div class="info__time">22:02</div>
      </div>
    </div>
    <div class="chat__message">
      <div class="chat__message-username pr">dmitriy0209</div>
      <div class="chat__message-info info">
        <div class="info__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, laudantium, blanditiis voluptate nisi sapiente odio
          quam nemo praesentium aliquid maxime minima accusamus ut pariatur
          distinctio sequi optio autem dolores veritatis? Perspiciatis dolor
        </div>
        <div class="info__time">22:02</div>
      </div>
    </div>
    <div class="chat__message">
      <div class="chat__message-username pr">dmitriy0209</div>
      <div class="chat__message-info info">
        <div class="info__message">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
          Reprehenderit, laudantium, blanditiis voluptate nisi sapiente odio
          quam nemo praesentium aliquid maxime minima accusamus ut pariatur
          distinctio sequi optio autem dolores veritatis? Perspiciatis dolor
        </div>
        <div class="info__time">22:02</div>
      </div>
    </div>
  </div>
  <form action="" class="app-form">
    <input type="text" class="input" placeholder="Введите сообщение" />
    <button class="btn">Отправить</button>
  </form>
</div>
