<div class="chat">
  <div class="chat__header">
    <div class="chat__logo">
      <img src="chat-icon.ico" alt="" width="50px" />
      <h1>My chat</h1>
    </div>
    <div class="user">
      <p>{{ username }}</p>
    </div>
    <p class="chat__logout" (click)="logout()">Logout</p>
  </div>
  <div class="chat__content">
    @for (message of messages; track $index) {
    <div class="chat__message">
      <div class="chat__message-username pr">{{ message.user }}</div>
      <div class="chat__message-info info">
        <div class="info__message">{{ message.message }}</div>
        <div class="info__time">22:02</div>
      </div>
    </div>
    } @if (messages.length > 0) {
    <p class="clear" (click)="clearMessage()">Очистка</p>
    }@else {
    <h2>Список сообщений пуст</h2>
    }
  </div>

  <form action="" class="app-form" [formGroup]="form">
    <label style="color: red"
      >{{ noValid }}
      <input
        type="text"
        class="input"
        placeholder="Введите сообщение"
        formControlName="message"
        (keydown.enter)="onSubmit()"
    /></label>
    <button class="btn" (click)="onSubmit()" type="button">Отправить</button>
  </form>
</div>
