.layout {
  height: 100%;
  padding: 2%;
  display: grid;
  grid-template-rows: 0.1fr 0.8fr 0.1fr;
}
.layout__header {
  display: flex;
  align-items: center;
  gap: 10px;
}
.layout__content {
  overflow: auto;
  gap: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.info {
  display: grid;
  grid-template-rows: 1fr auto;
  justify-items: end;
  margin-top: 10px;
  &__time {
    color: rgba(255, 255, 255, 0.435);
  }
}

h2 {
  width: 50%;
  text-align: center;
}
