@use "fonts";

:root {
  --dark-color: #000000;
  --dark-active-color: #161616;
  --light-color: #ffffff;
  --primary-color: #ae7aff;
  --gray-color: #5f646d;
  --dark-hover-color: #161616;
  --light-transparent-color: rgba(255, 255, 255, 0.75);
  --message-color: #404040;
  --light-border: 1px solid var(--light-color);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  width: 12px; /* Ширина скроллбара */
}
*::-webkit-scrollbar-track {
  background: none; /* Цвет фона трека */
  border-radius: 4px; /* Скругление трека */
}
*::-webkit-scrollbar-thumb {
  background: #0000003b; /* Цвет "ползунка" */
  border-radius: 4px; /* Скругление ползунка */
}
*::-webkit-scrollbar-thumb:hover {
  background: #0000005b; /* Цвет при наведении */
}
body {
  height: 100%;
  width: 600px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
  background-image: url("/assets/imgs/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input {
  width: 100%;

  display: block;
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  background: var(--dark-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-family: "JetBrains Mono", sans-serif;
  color: var(--light-color);
  &:focus {
    outline: none;
    border-color: inherit;
  }
}
.btn {
  width: 100%;
  padding: 10px 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  cursor: pointer;
  background: var(--primary-color);
  color: var(--light-color);
  border-radius: 4px;
  border: none;
}

.pr {
  color: var(--primary-color);
}
.app-form {
  display: grid;
  grid-template-columns: 1fr 0.3fr;
  align-items: end;
  padding-bottom: 2%;
  grid-gap: 5px;
}
.user {
  font-weight: 700;
  color: var(--primary-color);
  text-decoration: underline;
  margin-right: 5%;
  font-size: 20px;
}
